<style>
#navbar{
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
   height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1150;
}
#navbar img{
    height:40px;
    margin:5px  10px 5px 20px;
    float: left;
}
#navbar h5{
    height:40px;
    margin:12px 0;
    float: left;
}


</style>

<div id="navbar">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41Vd-ON7ZFL._SX425_.jpg" alt="">
    <h4 >Website Name</h4>

  
</div>