<style>
    #foot {
        width: 100%;
        padding: 3vh 0;
          background:black;

        position: abolute;
        bottom: 0;
    }
    h6{
        color: white;
        font-weight: 100;
    }
 
</style>
<div id="foot" class="mt-5">
<div class="row justify-content-md-center">

    <div class="col-md-3 mt-5">
        <h6>Contact Us</h6>
        <br>
        <h6>Contact Us</h6>
        <br>
        <h6>Contact Us</h6>
        <br>
        <h6>Contact Us</h6>
        <br>
        <h6>Contact Us</h6>
    </div>
    <div class="col-md-3 mt-5" id="middle">
        <h6>Contact Us</h6>
        <br>
        <h6>Contact Us</h6>
        <br>
        <h6>Contact Us</h6>
        <br>
        <h6>Contact Us</h6>
        <br>
        <h6>Contact Us</h6>
    </div>
    <div class="col-md-3 mt-5">
        <h6>Contact Us</h6>
        <br>
        <h6>Contact Us</h6>
        <br>
        <h6>Contact Us</h6>
        <br>
        <h6>Contact Us</h6>
        <br>
        <h6>Contact Us</h6>
    </div>

    </div>
</div>
</div>
