<style>
    #foot {
        width: 100%;
        padding: 3vh 0;
        background: rgb(175, 175, 175);
        position: abolute;
        bottom: 0;
        text-align: center;
        font-weight: 100;
    }

    h6 {
        color: white;
        font-weight: 100;
    }
   #sfckgrnky7ss3nney1wlxjq26zme26cyamh img{
       height: 30px;
   }
</style>
<style>
    @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

    #social {
        margin: 10px 10px;
        text-align: center;
    }

    .smGlobalBtn {
        /* global button class */
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 35px;
        height: 35px;
        box-shadow: 0 2px 2px #999;
        padding: 0px;
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        line-height: 2em;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        margin: 10px 20px;
    }

    /* facebook button class*/
    .facebookBtn {
        background: #4060A5;
    }

    .facebookBtn:before {
        /* use :before to add the relevant icons */
        font-family: "FontAwesome";
        content: "\f09a";
        /* add facebook icon */
    }

    .facebookBtn:hover {
        color: #4060A5;
        background: #fff;
    }

    /* twitter button class*/
    .twitterBtn {
        background: #00ABE3;
    }

    .twitterBtn:before {
        font-family: "FontAwesome";
        content: "\f099";
        /* add twitter icon */
    }

    .twitterBtn:hover {
        color: #00ABE3;
        background: #fff;
    }

    /* google plus button class*/
    .googleplusBtn {
        background: #e64522;
    }

    .googleplusBtn:before {
        font-family: "FontAwesome";
        content: "\f0d5";
        /* add googleplus icon */
    }

    .googleplusBtn:hover {
        color: #e64522;
        background: #fff;
    }

    /* linkedin button class*/
    .linkedinBtn {
        background: #0094BC;
    }

    .linkedinBtn:before {
        font-family: "FontAwesome";
        content: "\f0e1";
        /* add linkedin icon */
    }

    .linkedinBtn:hover {
        color: #0094BC;
        background: #fff;
    }

    /* pinterest button class*/
    .pinterestBtn {
        background: #cb2027;
    }

    .pinterestBtn:before {
        font-family: "FontAwesome";
        content: "\f0d2";
        /* add pinterest icon */
    }

    .pinterestBtn:hover {
        color: #cb2027;
        background: #fff;
    }

    /* tumblr button class*/
    .tumblrBtn {
        background: #3a5876;
    }

    .tumblrBtn:before {
        font-family: "FontAwesome";
        content: "\f173";
        /* add tumblr icon */
    }

    .tumblrBtn:hover {
        color: #3a5876;
        background: #fff;
    }

    /* rss button class*/
    .rssBtn {
        background: #e88845;
    }

    .rssBtn:before {
        font-family: "FontAwesome";
        content: "\f09e";
        /* add rss icon */
    }

    .rssBtn:hover {
        color: #e88845;
        background: #fff;
    }
</style>
<div id="foot" class="mt-5">
    <div class="row justify-content-md-center">

        <div class="col-md-3 mt-5">
            <h6>Contact Us</h6>
            <br>
            <h6>Contact Us</h6>
            <br>
            <h6>Contact Us</h6>
            <br>
            <h6>Contact Us</h6>
            <br>
            <h6>Contact Us</h6>
        </div>
        <div class="col-md-3 mt-5" id="middle">
            <h6>Contact Us</h6>
            <br>
            <h6>Contact Us</h6>
            <br>
            <h6>Contact Us</h6>
            <br>
            <h6>Contact Us</h6>
            <br>
            <h6>Contact Us</h6>
        </div>
        <div class="col-md-3 mt-5">
            <h5 style="margin: 0px 0;">Follow us on :</h5>
        <div id="social"><a class="facebookBtn smGlobalBtn" href="#"></a>
            
            <a class="twitterBtn smGlobalBtn" href="#"></a>
            
            <a class="googleplusBtn smGlobalBtn" href="#"></a>
            
            <a class="linkedinBtn smGlobalBtn" href="#"></a>
            
            <a class="pinterestBtn smGlobalBtn" href="#"></a>
        
        </div>
        <div id="visits">
            <hr>
            <h3 style="text-align: center">visits </h3>
            <div id="sfce7dhps5h391fbea469xkku69dej8ue8m"></div>
    <a href="https://www.freecounterstat.com" title="website counter code"><img
            src="https://counter7.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=e7dhps5h391fbea469xkku69dej8ue8m"
            border="0" title="website counter code" alt="website counter code"></a>
                        
        
        </div>
        </div>

    </div>
    <center>
        
    </center>
</div>
</div>