<style>
    #head {
        width: 100%;
        padding: 15vh 0;
        background: #0f0c29;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    #head h1 {
        text-align: center;
        color: white;
        font-size: 8vw
    }

    #head button {
        text-align: center;
        color: white;
        width: 35vh;
        margin-top: 3vh;
    }
</style>
<div id="head">
    <center>


        <h1>Website Name</h1>
        <button class="btn btn-lg btn-danger">Start Now</button>
    </center>
</div>
