<%include partials/1.header.ejs%>
<%include partials/2.navbar.ejs%>
<%include partials/3.head.ejs%> 

<div class="container">
        <%include partials/5.main_sections.ejs%>
        <!-- <%include partials/4.book.ejs%> -->
    
    
</div>

<%include partials/20.foot.ejs%>
<%include partials/footer.ejs%>